body{
	width: 80em;
	margin: 16px auto;
	border: 1px solid #ddd;
	border-radius: 10px 10px 10px 10px;
	padding-left: 16px;
	padding-right: 16px;
	font-family: "Trebuchet MS", "Segoe UI", "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
}

h1{
	margin: 20px 10px 1px;
}

hr{
	height: 1px;
	background-color: #ddd;
	border: none;
	margin: 0px 5px;
}

#h1-line{
	height: 2px;
}

h2{
	margin: 20px 10px 1px;
}

h3{
	margin: 20px 15px 1px;
}

p{
	margin: 20px 15px 1px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(235,235,235);
}